<h1>profile</h1>

<h2> Welcome <%= @profile.last["username"] %></h2> 

<h3>Email:</h3> 
<p><%= @profile.last["email"] %></p> 
<h3>Number:</h3>  
<p><%= @profile.last["number"] %></p> 
<h3>Preference:</h3> 
<p><%= @profile.last["prefrence"] %></p>  
<h3>Bio:</h3>  
<p><%= @profile.last["bio"] %></p> 
