<h1>profile</h1>

<h2> Welcome <%= @details["username"] %></h2> 

<h3>Email:</h3> 
<p><%= @details["email"] %></p> 
<h3>Number:</h3>  
<p><%= @details["number"] %></p> 
<h3>Preference:</h3> 
<p><%= @details["prefrence"] %></p>  
<h3>Bio:</h3>  
<p><%= @details["bio"] %></p> 
